@-webkit-keyframes rainbow-a {
  0% {
    color: #c85b5c;
  }
  20% {
    color: #e2b735;
  }
  40% {
    color: #8bbe48;
  }
  55% {
    color: #25a5d0;
  }
  70% {
    color: #a64ba5;
  }
  85% {
    color: #e47fb8;
  }
}
@-moz-keyframes rainbow-a {
  0% {
    color: #c85b5c;
  }
  20% {
    color: #e2b735;
  }
  40% {
    color: #8bbe48;
  }
  55% {
    color: #25a5d0;
  }
  70% {
    color: #a64ba5;
  }
  85% {
    color: #e47fb8;
  }
}
@-webkit-keyframes rainbow-bg {
  0% {
    background-color: #c85b5c;
  }
  20% {
    background-color: #e2b735;
  }
  40% {
    background-color: #8bbe48;
  }
  55% {
    background-color: #25a5d0;
  }
  70% {
    background-color: #a64ba5;
  }
  85% {
    background-color: #e47fb8;
  }
}
@-moz-keyframes rainbow-bg {
  0% {
    background-color: #c85b5c;
  }
  20% {
    background-color: #e2b735;
  }
  40% {
    background-color: #8bbe48;
  }
  55% {
    background-color: #25a5d0;
  }
  70% {
    background-color: #a64ba5;
  }
  85% {
    background-color: #e47fb8;
  }
}
html,
body {
  height: 100%;
}
body {
  display: table;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
body > div {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
body > div #topbar {
  background-color: #c85b5c;
  -webkit-animation: rainbow-bg 100s ease 0s infinite;
  -moz-animation: rainbow-bg 100s ease 0s infinite;
  -ms-animation: rainbow-bg 100s ease 0s infinite;
  animation: rainbow-bg 100s ease 0s infinite;
  border-bottom: 2px solid #fff;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body > div #content {
  height: 485px;
  margin: auto;
  padding: 30px;
  position: relative;
  width: 800px;
}
body > div #content #text {
  left: 30px;
  padding-right: 50px;
  position: absolute;
  text-align: left;
  top: 30px;
  vertical-align: middle;
  width: 370px;
  z-index: 1;
}
body > div #content #text h1 {
  width: 127px;
  height: 47px;
  background-image: url(../imgs/logo2.png);
  background-color: #c85b5c;
  -webkit-animation: rainbow-bg 100s ease 0s infinite;
  -moz-animation: rainbow-bg 100s ease 0s infinite;
  -ms-animation: rainbow-bg 100s ease 0s infinite;
  animation: rainbow-bg 100s ease 0s infinite;
  display: inline-block;
  background-size: contain;
  margin: 0;
}
body > div #content #text p {
  font-size: 11px;
  color: #999;
  line-height: 18px;
}
body > div #content #text p strong {
  color: #000;
}
body > div #content #iphone {
  background-color: #c85b5c;
  -webkit-animation: rainbow-bg 100s ease 0s infinite;
  -moz-animation: rainbow-bg 100s ease 0s infinite;
  -ms-animation: rainbow-bg 100s ease 0s infinite;
  animation: rainbow-bg 100s ease 0s infinite;
  bottom: 0;
  position: absolute;
  right: 0;
}
body footer {
  bottom: 0;
  color: #777777;
  font-size: 12px;
  left: 0;
  padding: 12px;
  position: absolute;
}
body footer a,
body footer a:visited {
  color: #c85b5c;
  -webkit-animation: rainbow-a 100s ease 0s infinite;
  -moz-animation: rainbow-a 100s ease 0s infinite;
  -ms-animation: rainbow-a 100s ease 0s infinite;
  animation: rainbow-a 100s ease 0s infinite;
  text-decoration: none;
}
body footer a:hover,
body footer a:visited:hover {
  opacity: 0.8;
}
