<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gather :: Quick plans. Quicker.</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width: 500; maximum-scale=1.0; width=device-width, initial-scale=1.0">
  </head>

  <body id="home">
    <div>
      <section id="topbar"></section>
      <section id="content">
        <div id="text">
          <p>Whether you are planning a camping trip or can&rsquo;t decide on a movie time, getting a whole group on the same page is tough. Text messages aren&rsquo;t
            designed to easily organize plans with multiple people. Gather solves this problem. Gather is a mobile app that helps groups easily make quick plans. It can
           be used for planning get-togethers, deciding where to eat dinner or splitting up tasks for setting up a party.  <strong>Launch imminent.</strong></p>
          <h1></h1>
        </div>
        <img src="imgs/iphone3.png" id="iphone" alt="iPhone">
      </section>
      <footer>
        &copy; 2012 Gather Labs
        &middot; <a href="#">contact</a>
        &middot; <a href="http://twitter.com/gatherlabs">twitter</a>
      </footer>
    </div>

    <script src="js/lib/jquery.js"></script>

    <script src="js/script.js"></script>
  </body>
</html>
