<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gather :: Quick plans. Quicker.</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/yc.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width: 500; maximum-scale=1.0; width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="//use.typekit.net/deu8iqc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="home">
    <header id="p1">
      <h1 class="meta">Y Combinator, meet Gather</h1>
      <p>Hey YC! We’re <strong>Gather</strong>, a social app that augments your real life rather than replacing it. Going to a movie with friends? Figure out when, where
        and what movie in seconds -- and then purchase tickets for everyone right in the app. Going camping? Make a shared list of all the supplies needed so
        you don’t forget anything.</p>
      <p>
        <strong>We think YC and Gather would be an awesome fit.</strong>
      </p>
      <div class="icons"></div>
      <div class="sidewalk">
        <div class="kids">
          <div class="speech">
            <div class="s1"></div>
            <div class="s2"></div>
            <div class="s3"></div>
            <div class="s4"></div>
            <div class="s5"></div>
            <div class="s6"></div>
            <div class="s7"></div>
            <div class="s8"></div>
          </div>
        </div>
      </div>
    </header>
    <section id="p2">
      <div class="uses">
        <h2 class="meta">Planning activities with a group is hard.</h2>
        <ul>
          <li class="h">Gather can be used to...</li>
          <li>decide on a restaurant for dinner.</li>
          <li>split camping supplies with a shared todo list.</li>
          <li>pick a time to meet that works for everyone.</li>
          <li>find the best movie time and theater.</li>
          <li>collaborate on a list of must-see landmarks for a trip.</li>
          <li>find out who can come to your party.</li>
          <li>get opinions on everything else with a generic poll.</li>
          <li>group chat about whatever you're planning.</li>
          <li>just about anything else you need for planning.</li>
          <li class="f">If this seems like a lot for one app, worry not. We've made it dead simple!</li>
        </ul>
        <div id="iphone">
          <div class="iphone-inside">
            <div class="iphone-icons"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="p3">
    </section>
    <section id="p4">
      <div class="contain">
        <div class="people">
          <div class="p1"></div>
          <div class="p2"></div>
          <div class="p3"></div>
          <div class="p4"></div>
          <div class="p5"></div>
        </div>
        <div class="step1">
          <h2 class="meta">Phase 1: <span>Growth</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at enim in quam molestie blandit. Aliquam erat volutpat. Aliquam non lacus a enim
            laoin faucibus orci luctus et ultrices
            posuere cubilia Curae; Suspendisse ut risus diam. Nam suscipit velit eget sapien facilisis ut condimentum odio blandit. Vestibulum ante ipsum primis in
            faucibus.</p>
          <div id="face-in-view">&nbsp;</div>
        </div>
        <div class="step2">
          <div id="credit-card"></div>
          <h2 class="meta">Phase 2: <span>Monetization</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at enim in quam molestie blandit. Aliquam erat volutpat. Aliquam non lacus a enim
            laoin faucibus orci luctus et ultrices
            posuere cubilia Curae; Suspendisse ut risus diam. Nam suscipit velit eget sapien facilisis ut condimentum odio blandit. Vestibulum ante ipsum primis in
            faucibus.</p>
        </div>
        <div class="step3">
          <div id="compass"><div id="thingy"></div></div>
          <h2 class="meta">Phase 3: <span>Our Vision</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at enim in quam molestie blandit. Aliquam erat volutpat. Aliquam non lacus a enim
            laoin faucibus orci luctus et ultrices
            posuere cubilia Curae; Suspendisse ut risus diam. Nam suscipit velit eget sapien facilisis ut condimentum odio blandit. Vestibulum ante ipsum primis in
            faucibus.</p>
        </div>
      </div>
    </section>
    <section id="p5">
      <h2 class="meta">Team Gather</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at enim in quam molestie blandit. Aliquam erat volutpat. Aliquam non lacus a enim laoreet gravida. Morbi pulvinar fermentum eros, non tincidunt tellus condimentum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse ut risus diam.</p>
      <a href="http://gkoberger.net" target="_new" class="team" id="team-greg"><strong>Greg Koberger</strong>Mozilla</a>
      <a href="http://dan-white.me" target="_new" class="team" id="team-dan"><strong>Dan White</strong>Google</a>
      <a href="http://bjoli.com/" target="_new" class="team" id="team-joe"><strong>Joe Smith</strong>Twitter</a>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="js/lib/waypoints.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
